@model IEnumerable<WebApplication28.Models.Matches>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatchList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team1Navigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team2Navigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MatchList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Venue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team1Navigation.Tname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team2Navigation.Tname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Mid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Mid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Mid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
