@model IEnumerable<WebApplication28.Models.PointsTable>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Played)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Win)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loss)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.T)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Played)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Win)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loss)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.T.Tname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ptid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ptid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ptid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
